body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo-item-container,
.todo-item-container.selected,
.delete-button {
  user-select: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem 0rem;
}

.todo-item-container {
  background-color: rgb(206, 146, 35);
}

.todo-item-container.selected {
  background-color: rgb(75, 206, 35);
}

.delete-button {
  background-color: rgb(35, 75, 206);
}